{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% if home_work %}
        <table class="table mb-5">
                {% for h in home_work %}
                    <thead>
                        <tr>
                            <th>
                                <strong>المادة: </strong>
                                {{h.material.name}}  
                            </th>
                            <th colspan="2">
                                <strong>الدرس </strong>:
                                {{h.title}}
                            </th>
                        </tr>
                    </thead>
                    <tbody class="mb-5">
                        <tr>
                            <td> 
                                الموضوع: 
                            </td>
                            <td>
                                    {{h.content}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                موعد التقديم:
                            </td>
                            <td>
                                <span class="{% if h.is_two_days %}text-danger{% endif %}">
                                        {{h.lastDate|date:"d/m/Y"}} (الباقي: {{h.remain}} أيام.)
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    {% if not forloop.last %}
                        <tr>
                            <td >
                                <br>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
            </table>
    {% else %}
    <h4>{{message}}</h4>
    {% endif %}
</div>
{% endblock content %}